* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
header .left-logo {
  position: absolute;
  left: 5%;
  color: #fff;
}
header .left-logo a {
  display: block;
  font-size: 2.4rem;
}
header .left-logo p {
  font-size: 1.4rem;
}
header .top-wrap, header nav {
  width: 120rem;
  margin: 0 auto;
  padding: 1rem 0;
}
header .top-wrap {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
header .top-wrap .rang {
  font-size: 1.2rem;
  height: 3.4rem;
  overflow: hidden;
}
header .top-wrap .rang a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 0rem;
}
header .top-wrap .logo {
  font-size: 3.2rem;
}
header .top-wrap .right a {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
header nav .menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}
header nav .menu-wrap > li {
  position: relative;
}
header nav .menu-wrap > li > a {
  display: block;
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
  text-align: center;
}
header nav .menu-wrap > li:hover > a {
  font-weight: 700;
}
header nav .menu-wrap > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
header nav .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.4rem;
}
header nav .sub-menu li {
  display: inline-block;
}
header nav .sub-menu a {
  display: block;
  font-size: 1.2rem;
  padding: 0 1rem;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
}
.container .cont {
  position: relative;
  width: 100%;
  height: 100vh;
}

#wrap {
  width: 100%;
  height: 100%;
}

.hidden {
  font-size: 0px;
}

.tit01 {
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.tit02 {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #F26E25;
}

.cont-txt-tit {
  margin-top: 10px;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.08em;
}

.cont-txt-sub {
  margin-top: 22px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.005em;
}

.scroll-box {
  position: fixed;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  background: url(../../assets/img/scroll_down.png) no-repeat center bottom/17px auto;
  z-index: 99;
}
.scroll-box .scroll-down {
  display: inline-block;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.1em;
}
.scroll-box.scroll-inpro {
  width: 50px;
  height: 36px;
  background: url(../../assets/img/scroll_top.png) no-repeat center center/100% auto;
}
.scroll-box.scroll-inpro .scroll-down {
  display: none;
}
.scroll-box.back-white {
  background-image: url(../../assets/img/scroll_top2.png);
}

.intro {
  position: relative;
  width: 100%;
  height: 500vh;
  background: #000000;
}
.intro.intro-on .intro-list {
  position: fixed;
  top: 0;
  bottom: 0;
}
.intro .tit02 {
  color: #FFFFFF;
}
.intro .intro-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 50px;
  color: #FFFFFF;
}
.intro .intro-list .intro-tit {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
}
.intro .intro-list .intro-sub {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  transition: 0.5s;
  letter-spacing: 0.01em;
  text-align: center;
}
.intro .intro1 {
  position: relative;
  background: transparent;
  opacity: 1;
  background: url(../../assets/img/intro_bg.png) no-repeat center 7%/100%;
}
.intro .intro1 .intro-tit-sub {
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 0.08em;
}
.intro .intro1 .intro-dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
}
.intro .intro2 {
  background: #000000;
  transition: 0.5s;
}
.intro .intro2 .intro-tit {
  transition: 0.5s;
}
.intro .intro2 .intro-tit .intro-tit-sub {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.08em;
}
.intro .intro2 .intro-sub {
  opacity: 0;
}
.intro .intro2.intro2-focus .intro-tit {
  transform: translateY(-40px);
}
.intro .intro2.intro2-focus .intro-sub {
  opacity: 1;
}
.intro .intro3 {
  background: #000000;
}

.cont1 {
  position: relative;
  width: 100%;
  height: 200vh;
  background: #FFFFFF;
  font-weight: 400;
}
.cont1 .cont1-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  overflow-x: hidden;
  text-align: center;
}
.cont1 .cont1-top .cont1-film {
  position: relative;
  display: flex;
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
}
.cont1 .film-box {
  position: relative;
  width: 50%;
  height: 100%;
}
.cont1 .film-box:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 41%;
  height: 155px;
  background: url(../../assets/img/Sulwhasoo_logo.png) no-repeat center center/100%;
}
.cont1 .film-box .full-bg-img {
  position: absolute;
  height: 100%;
  top: auto;
  bottom: 17%;
  transform-origin: bottom center;
  background: url(../../assets/img/lazy1.jpg) no-repeat center bottom/cover;
  z-index: 1;
}
.cont1 .film-box-next {
  padding: 0 9%;
  background: #171717;
  text-align: left;
}
.cont1 .film-box-next:after {
  display: none;
}
.cont1 .film-box-next .film-txt {
  margin-top: 10.8%;
  padding-right: 20%;
}
.cont1 .film-box-next .cont-txt-tit {
  color: #FFFFFF;
}
.cont1 .film-txt {
  margin-top: 7.2%;
  position: relative;
  color: #171717;
}
.cont1 .film-txt button {
  margin-top: 32px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.11em;
  border: 1px solid #171717;
}
.cont1 .film-txt .film-prev-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 0;
  padding: 10px 10px 10px 30px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: url(../../assets/img/arrow_prev.png) no-repeat 9px center/10px auto;
}
.cont1 .cont1-full {
  height: 50%;
}
.cont1 .cont1-full .cont-txt-tit {
  font-size: 52px;
  line-height: 60px;
}
.cont1 .cont1-full .cont1-full-dim {
  position: absolute;
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  opacity: 0;
  z-index: 3;
}

.cont2 {
  width: 100%;
  height: auto;
  background: #000000;
}
.cont2 .cont2-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.cont2 .cont2-flow {
  height: 100vh;
}
.cont2 .flow-list-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.cont2 .flow-list {
  position: relative;
  height: 100%;
  margin: 15% 0 0 7%;
}
.cont2 .flow-list img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
}
.cont2 .flow-list.flow1 {
  width: 50%;
  margin: 0 0 0 10%;
}
.cont2 .flow-list.flow2 {
  width: 30%;
}
.cont2 .flow-list.flow3 {
  width: 50%;
  margin-top: 30%;
}
@media (max-width: 767px) {
  .cont2 .flow-list {
    margin: 30% 0 0 5%;
  }
  .cont2 .flow-list.flow1 {
    width: 150%;
    margin: 0 0 0 10%;
  }
  .cont2 .flow-list.flow2 {
    width: 80%;
  }
  .cont2 .flow-list.flow3 {
    width: 150%;
    margin-top: 60%;
  }
}

.cont3 {
  position: relative;
  width: 100%;
  height: 200vh;
  box-sizing: border-box;
  background: #000000;
  color: #FFFFFF;
}
.cont3 .img-flexbox {
  padding: 10% 20%;
}
.cont3 .cont3-back-img {
  position: absolute;
  top: calc(100vh - 100px);
  background: url(../../assets/img/lazy1.jpg) no-repeat center bottom/cover;
}

.cont4 {
  position: relative;
  height: 300vh;
}
.cont4.back-on .cont4-full {
  background: url(../../assets/img/lazy3.jpg) no-repeat center center/cover;
}
.cont4.back-on .cont4-back {
  position: static;
}
.cont4 > div {
  height: 100vh;
}
.cont4 .full-bg-box {
  padding-left: 7.5%;
}
.cont4 .cont4-back {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../../assets/img/lazy3.jpg) no-repeat center center/cover;
}
.cont4 .cont4-box {
  position: relative;
  top: 0;
  left: 0;
  width: 200%;
  display: flex;
  z-index: 1;
}
.cont4 .cont4-box > div {
  width: 50%;
}
.cont4 .cont4-box .cont4-story {
  background: beige;
}

.cont5 {
  position: relative;
  height: 100vh;
  background: transparent;
}
.cont5 .cont5-full {
  background: #000;
}

.cont6 {
  width: 100%;
  height: 100vh;
  background: #000;
}
.cont6 .history {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}
.cont6 .history-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cont6 .history-box .history-list {
  width: 30%;
  height: 100%;
  background: white;
}

.full-bg-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
  height: 100%;
  background: transparent;
  color: #FFFFFF;
}
.full-bg-box span {
  display: block;
}
.full-bg-box .full-bg-txt {
  position: relative;
  z-index: 2;
}
.full-bg-box .tit02 {
  color: #FFFFFF;
}
.full-bg-box .full-bg-tit {
  font-size: 52px;
  font-weight: 350;
  line-height: 60px;
  letter-spacing: 0.09em;
}
.full-bg-box .full-bg-sub {
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.full-bg-img {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/lazy1.jpg) no-repeat center bottom/cover;
  transform: scale(0.3);
  transform-origin: center top;
  opacity: 1;
  z-index: 1;
}
.full-bg-img.fix {
  position: fixed;
}

.story-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
  height: 100vh;
}
.story-box .cont-txt-tit {
  margin-top: 5px;
}
.story-box .cont-txt-sub {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */